<div class="banner">
    <div class="container">
      <h1>Looking for a<strong><em>Vintage</em></strong> <strong><em>Adventure?</em></strong></h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <%= link_to "Motorcycles", offers_path, class: "btn btn-ghost" %>
    </div>
</div>

<div class="container">
    <div class="cards">
        <div class="one-category mt-5">
            Shopper
        </div>
        <div class="second-category mt-5">
            Vespa
        </div>
        <div class="third-category mt-5">
            Top 10!!!
        </div>
        <div class="four-category mt-5">
            Models
        </div>
    </div>
</div>
