.title {
  color: #113CFC;
  font-family: $regular;
  margin: 20px;

}

.form {
  padding-bottom: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px grey;
  margin: 20px;
  font-family: $source-code;
}

.form-control.is-valid {
  border-radius: 29px;

}
.form-control {
  border-radius: 29px;
  border-color: #1EDD88;
}
