.navbar {
  justify-content: space-between;
  background: white;
  height: 60px;
  display: flex;
  position: sticky;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .fa-motorcycle {
    color:#1EDD88;
    font-size: 25px;
  }
}
