.navbar-login {
  justify-content: space-between;
  background: linear-gradient(302deg,#9d00ff,#cf357e 50%,#ff8d10);
  color: white;
}

.navbar-login .navbar-collapse {
  flex-grow: 0;
}

.navbar-login .navbar-brand img {
  width: 40px;
}

.navbar-login  .nav-link {
color: light;
}
