.navbar {
  justify-content: space-between;
  background: #69DADB;
  height: 60px;
  display: flex;
  position: sticky;
  opacity: 0.1px;

  .navbar-collapse {
    flex-grow: 0;
    font-family: $source-code;


    &:hover {
      color: grey;
      border-radius: 29px;
    }
  }

  .navbar-brand img {
    width: 40px;
  }

  .fa-motorcycle {
    color: #113CFC;
    font-size: 35px;
    margin: 0px;
    width: 30px;
  }

  .fa-smog {
    color:#113CFC;
    font-size: 23px;
    margin: 0px;
  }

  .nav-item {
    color:#113CFC;
  }
}
