.navbar {
  justify-content: space-between;
  background-image: linear-gradient(to right, #FD8C3F, #EE6E3F, #D65F55, #DB4A63, #D34F76, #CD6493, #C165AB, #C26DAD, #AC90F6);
  height: 60px;
  display: flex;
  position: sticky;
  padding-right: 35px;
  .navbar-collapse {
    flex-grow: 0;
    font-family: $source-code;
    &:hover {
      color: grey;
      border-radius: 29px;
    }
  }

  .navbar-brand img {
    width: 40px;
  }

  .fa-smog {
    color: #ffffff;
    font-size: 15px;
    margin-left: 23px;
  }

  .fa-motorcycle {
    color:#ffffff;
    font-size: 30px;
  }

  .logo-home {
    text-decoration: none;
  }

  .text-color {
    color: #ffffff !important;
    font-weight: bold;
    background-color: #FD8C3F;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    border-radius: 50px;
    opacity: 1;
    transition: opacity .5s ease;
    &:hover {
      color: #ffffff;
      font-weight: bold;
      background-color: #f89c5f;
    }
  }
}
